body {
    background-color: #f6f7f7;
    font-family: "Century Gothic", sans-serif;
}
.container {
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 500px;
    text-align: center;
}

h1 {
    color: black;
    font-size: 28px;
    text-align: center;
}

.inst{
    text-align: center;
    font-size: 12px;
    margin-bottom: 50px;
}

input {
    border: 0;
    border-bottom: 1.5px solid black;
    margin: 0;
    background: transparent;
    font-size: 16px;
    padding: 14px 18px;
    width: 50%;
}

input[type="submit"] {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
}
input[type="submit"]:hover {
    background-color: #3e8e41;
}

.or {
    width: 70%;
    margin: .7em auto;
    overflow: hidden;
    text-align: center;
    font-weight:300;
    color: black;
}
.or:before, .or:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
}
.or:after {
    margin: 0 -55% 0 .5em;
}

a{
    margin-right: 3px;
    text-decoration: underline;
    color: black;
}

a:hover{
    margin-right: 3px;
    text-decoration: underline;
    color: black;
}

input::-webkit-input-placeholder {
    font-family: "Century Gothic", sans-serif;
}

input:-ms-input-placeholder {
    font-family: "Century Gothic", sans-serif;
}

input:-moz-placeholder {
    font-family: "Century Gothic", sans-serif;
}

input::-moz-placeholder {
    font-family: "Century Gothic", sans-serif;
}
